

.calc{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.body{

}
input{
  height: 50px;
  margin: 15px;
  width: 150px;
  border-radius: 8px;
  border: solid 1px gray;
  text-align: center;
  
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
button{
  align-self: center;
  height: 50px;
  width: 60px;
  border-radius: 5px;
  border: none;
  background-color: rgb(72, 72, 233);
  font-size: 30px;
  color: white;
}

.soma{
  height: 30px;
  display:flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 30px;
}